@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@300&family=Cedarville+Cursive&family=Comfortaa:wght@500&family=Cutive+Mono&family=Hind+Siliguri:wght@300&family=Lato&family=Montserrat:wght@100&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Outfit:wght@200&family=Pacifico&family=Playfair+Display&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200&family=Red+Hat+Display:wght@300&family=Roboto:ital,wght@0,400;1,100&family=Rubik:ital,wght@0,300;1,400&family=Space+Mono&family=Syne:wght@800&family=Ubuntu&family=Unbounded:wght@800&family=Varela+Round&family=Whisper&display=swap");

@media only screen and (max-device-width: 280px) {
    .wrap {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      margin-top: 16px;
      height: 92vh;
    }
    .span {
      cursor: pointer;
      width: 75vw;
      display: flex;
      justify-content: flex-end;
      color: hsla(228, 100%, 81%, 1);
      text-transform: capitalize;
    }
    .img {
      width: 295px;
    }
    .para {
      margin: 16px;
      font-family: "Montserrat";
    }
    .para > h3 {
      font-weight: 600;
    }
    .arrow-div{
      /* background-image: linear-gradient(to bottom right,#89A1FF); */
      cursor: pointer;
      width: 245px;
      /* float: left; */
      display: flex;
      justify-content: flex-end;
    }
    .arrow {
      color: white;
      background-image: linear-gradient(to right, white, #89A1FF);
      /* background-image: linear-gradient(to bottom right, #89A1FF); */
      /* background: linear-gradient(to bottom right, #89A1FF); */
      /* background: hsla(228, 100%, 77%, 1); */
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }


  .wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
    height: 92vh;
  }
  .span {
    cursor: pointer;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    color: hsl(228deg 58.08% 26.66%);

    text-transform: capitalize;
  }
  .img {
    width: 390px;
  }
  .para {
    margin: 16px;
    font-family: "Montserrat";
  }
  .para > h3 {
    font-weight: 600;
  }
  .arrow-div{
    /* background-image: linear-gradient(to bottom right,#89A1FF); */
    cursor: pointer;
    width: 528px;
    /* float: left; */
    display: flex;
    justify-content: flex-end;
  }
  .arrow {
    color: white;
    background-image: linear-gradient(to right, white, #89A1FF);
    /* background-image: linear-gradient(to bottom right, #89A1FF); */
    /* background: linear-gradient(to bottom right, #89A1FF); */
    /* background: hsla(228, 100%, 77%, 1); */
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }



  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .wrap {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-top: 16px;
        height: 92vh;
      }
      .span {
        cursor: pointer;
        width: 75vw;
        display: flex;
        justify-content: flex-end;
        color: hsla(228, 100%, 81%, 1);
        text-transform: capitalize;
      }
      .img {
        width: 390px;
      }
      .para {
        margin: 16px;
        font-family: "Montserrat";
      }
      .para > h3 {
        font-weight: 600;
      }
      .arrow-div{
        /* background-image: linear-gradient(to bottom right,#89A1FF); */
        cursor: pointer;
        width: 245px;
        /* float: left; */
        display: flex;
        justify-content: flex-end;
      }
      .arrow {
        color: white;
        background-image: linear-gradient(to right, white, #89A1FF);
        /* background-image: linear-gradient(to bottom right, #89A1FF); */
        /* background: linear-gradient(to bottom right, #89A1FF); */
        /* background: hsla(228, 100%, 77%, 1); */
        border-radius: 50%;
        height: 200px;
        width: 200px;
      }
  }
